<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Login</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="Login">
    <header>
        <section class="header__section">
            <img src="/img/logo.png" alt="logo">
            <a href="" class="fa-solid fa-bars"></a>
        </section>
        <nav>
            <ul>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="login__main">
    </main>
</body>

</html>